@font-face {
   font-family: 'skillscards-gt-walsheim-regular';
   font-display: swap;
   src: url('file:///Users/andreaslevin/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2021-08-01_150323/fonts/skillscards-gt-walsheim-regular/font.ttf');
}
